In [10]:
import pandas as pd

In [11]:
df = pd.read_csv('../raw_data/Covid_Data/italy_covid_data.txt', sep=",")

In [12]:
df = df[['Date','Dead', 'Swab Test Positive','Antigenic Test Positive']]
df['cumCases'] = df['Swab Test Positive']+df["Antigenic Test Positive"]
df = df.drop('Swab Test Positive', axis=1)
df = df.drop('Antigenic Test Positive', axis=1)
df = df.rename(columns={"Date": "date", "Dead": "cumDeath"})
df = df.groupby(['date']).sum()
df.fillna(0)
df

            cumDeath    cumCases
date
2020-02-24         7         0.0
2020-02-25        10         0.0
2020-02-26        12         0.0
2020-02-27        17         0.0
2020-02-28        21         0.0
...              ...         ...
2023-01-01    184972  25210071.0
2023-01-02    185058  25215501.0
2023-01-03    185198  25242603.0
2023-01-04    185295  25261808.0
2023-01-05    185417  25279682.0

[1047 rows x 2 columns]

In [13]:
df.to_csv('../processed_data/cumDeathItaly.csv')