In [2]:
import pandas as pd

In [21]:
df = pd.read_csv(r'../raw_data/Covid_Data/netherlands_covid_data.csv', sep=";")
df = df.rename(columns={"Date_of_report": "date", "Deceased": "cumDeath"})
df['date'] = pd.to_datetime(df['date'])
df['date'] = df['date'].dt.date
df = df.groupby(['date']).sum()
df['cumDeath'] = df['cumDeath'].astype(int)

/var/folders/m1/788d4jvn7wz8lm3qp0_815hc0000gn/T/ipykernel_4495/3802443631.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df.groupby(['date']).sum()

In [20]:
df_second = pd.read_csv('../raw_data/Covid_Data/owid-covid-data.csv', sep=",")
df_second = df_second.loc[df_second['location'] == "Netherlands"]
df_second = df_second[['date','total_deaths']]
mask = (df_second['date'] < "2020-03-13")
df_second = df_second.loc[mask]
df_second = df_second.fillna(0)
df_second = df_second.rename(columns={"date": "date", "total_deaths": "cumDeath", "total_cases":"cumCases"})
df_second['cumDeath'] = df_second['cumDeath'].astype(int)

In [23]:
merged_df = df_second.merge(df, how = 'outer', on = ['date','cumDeath'])
merged_df

           date  cumDeath  Version  Total_reported  Hospital_admission
0    2020-02-27         0      NaN             NaN                 NaN
1    2020-02-28         0      NaN             NaN                 NaN
2    2020-02-29         0      NaN             NaN                 NaN
3    2020-03-01         0      NaN             NaN                 NaN
4    2020-03-02         0      NaN             NaN                 NaN
..          ...       ...      ...             ...                 ...
926  2023-03-17  10648935   8520.0      25816599.0          10648935.0
927  2023-03-21  14198580  11360.0      34426126.0          14198580.0
928  2023-03-24  10648935   8520.0      25823445.0          10648935.0
929  2023-03-28  14198580  11360.0      34434105.0          14198580.0
930  2023-03-31  10648935   8520.0      25828395.0          10648935.0

[931 rows x 5 columns]

In [26]:
merged_df.to_csv('../processed_data/cumDeathNetherlands.csv')