In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../raw_data/Covid_Data/owid-covid-data.csv', sep=",")
df = df.loc[df['location'] == "Switzerland"]
df = df[['date','total_deaths','new_cases']]
df = df.fillna(0)
df = df.rename(columns={"date": "date", "total_deaths": "cumDeath"})
df['cumDeath'] = df['cumDeath'].astype(int)
df

              date  cumDeath  new_cases
219801  2020-02-25         0        1.0
219802  2020-02-26         0        0.0
219803  2020-02-27         0        7.0
219804  2020-02-28         0        0.0
219805  2020-02-29         0       10.0
...            ...       ...        ...
220870  2023-01-29     14244        0.0
220871  2023-01-30     14244      807.0
220872  2023-01-31     14244      865.0
220873  2023-02-01     14244        0.0
220874  2023-02-02     14244        0.0

[1074 rows x 3 columns]

In [4]:
df.to_csv('../processed_data/cumDeathSwitzerland.csv', index=False)